
<div class="container" style='margin: 20px;'>

  <div 
    class="row"
    *ngIf="failedToLoadQuizzes"
  >
    <h3>Failed to load quizzes, please refresh page to try again...</h3>  
  </div>

  <div 
    class="row"
    *ngIf="!failedToLoadQuizzes"
  >

    <div class="col-md-4">

      <button class="btn btn-outline-success mb-3" (click)='addQuiz()'>
        Add New Quiz
      </button>

      <button
        class='btn btn-link'
        (click)="jsPromisesOne()"
      >
        JS Promises 1
      </button>

      <button
        class='btn btn-link'
        (click)="jsPromisesTwo()"
      >
        JS Promises 2
      </button>

      <div class="list-group mb-3">
        <button
          class="quiz-item list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let q of quizzes"  
          (click)="selectQuiz(q)"
          [class.active]="q == selectedQuiz"
        >
        
          {{ q.name }}
          <small
            class="font-italic font-weight-lighter"
            [class.text-danger]="q.questions.length == 0 && q != selectedQuiz"
          >
            {{ q.questions.length }} question<span *ngIf='q.questions.length !=1'>s</span>
          </small> 
        </button>

      </div>

    </div>

    <!-- if no quiz selected -->
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz == undefined"
    >
      <div class="card bg-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            No Quiz Selected
          </h5>
          <p class="card-text">
            Please select or add a new quiz...
          </p>
        </div>
      </div>
    </div>


    <!-- if quiz selected -->
    <div 
      class="col-md-8"
      *ngIf="selectedQuiz != undefined" 
    >

      <button class="btn btn-outline-dark mb-3">
        Save Quizzes
      </button>

      <button class="btn btn-link mb-3">
          Cancel
      </button>
  
      <div class="card mb-3">

        <div class="card-header">
          General
        </div>

        <div class="card-body">

          <!-- ADD QUIZ NAME EDIT HERE -->
          <!--
            todo: seems like we should put focus on this input field when we 
            create a new quiz. how?
          -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Quiz Name:</span>
            </div>

            <input type="text" class="form-control" 
              name="QuizName" id="QuizName" 
              [(ngModel)]="selectedQuiz.name"                        
            />

          </div>

          <!-- {{ selectedQuiz.name }}  -->


        </div>

      </div>

      <div class="card mb-3">

          <div class="card-header">
            Questions
            <span
              *ngIf="selectedQuiz.questions.length == 0"
              class="text-danger"
            >
              (No Questions)
            </span>

            <button class="btn btn-outline-success" 
              (click)='addQuestion()'
              style='margin-left: 25px;'
            >
                Add Question
            </button>

          </div>
  
          <div class="card-body">
            
            <div 
              class="row mb-3"
              *ngFor="let question of selectedQuiz.questions"
            >

              <input type='text' 
                class='form-control col-md-10'
                placeholder="Enter question..."
                [(ngModel)]='question.name'
              />

              <button type="button" 
                class="btn btn-link"
                (click)="removeQuestion(question)"
              >
                Remove
              </button>

            </div>

          </div>
  
        </div>

        <div class="card mb-3">

            <div class="card-header">
              Other
            </div>
    
            <div class="card-body">
              Coming Soon!
            </div>
    
          </div>


    </div>

  </div>
</div>


